body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand img {
    height: 50px; /* Ajuste conforme necessário */
    width: auto;
    margin-right: 10px;
}

.content {
    flex: 1; /* Faz o conteúdo expandir e empurrar o footer para baixo */
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
}

.footer {
    background: #343a40;
    color: white;
    padding: 15px 0;
    text-align: center;
}

/*                     */
body {
    font-family: Arial, sans-serif;
}

.produto {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-carrinho {
    background: orange;
}

.btn-remover {
    color: red;
}


